#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "profilarr"
name = "Profilarr"
description.en = "Configuration management tool for Radarr/Sonarr that automates importing and version control of custom formats and quality profiles."
description.fr = ""

version = "1.0~ynh1"

maintainers = ["bowgartfield"]

[upstream]
# NB: Only the "license" key is mandatory. Remove entries for which there's no relevant data
license = "free" # you can see the available licenses identifiers list here: https://spdx.org/licenses/
website = "https://dictionarry.dev/"
#admindoc = "https://yunohost.org/packaging_apps"
#userdoc = "https://yunohost.org/apps"
code = "https://github.com/Dictionarry-Hub/profilarr"

fund = "https://github.com/sponsors/Dictionarry-Hub"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "domain"

    [install.path]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "path"
    default = "/profilarr"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "user"

[resources]
    [resources.sources.main]
    url = "https://github.com/BowgartField/profilarr/archive/refs/tags/v1.1.4.tar.gz"
    sha256 = "172d7db1a0cb30bb2717d264216fbc73eaacf344a18417f3ae5d933e500974d7"
    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 5000

    [resources.nodejs]
    version = "18"

    [resources.apt]
    packages = "gcc python3-dev python3-venv libyaml-dev"