#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "profilarr"
name = "Profilarr"
description.en = "Configuration management tool for Radarr/Sonarr that automates importing and version control of custom formats and quality profiles."
description.fr = ""

version = "1.0~ynh1"

maintainers = ["bowgartfield"]

[upstream]
# NB: Only the "license" key is mandatory. Remove entries for which there's no relevant data
license = "free" # you can see the available licenses identifiers list here: https://spdx.org/licenses/
website = "https://dictionarry.dev/"
#admindoc = "https://yunohost.org/packaging_apps"
#userdoc = "https://yunohost.org/apps"
code = "https://github.com/Dictionarry-Hub/profilarr"

fund = "https://github.com/sponsors/Dictionarry-Hub"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "domain"

    [install.path]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "path"
    default = "/profilarr"

    [install.init_main_permission]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    # This won't be saved as setting and will instead be used to initialize the SSOwat permission
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["fr", "en"]
    default = "fr"

    [install.admin]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "user"

[resources]
    [resources.sources.main]
    url = "https://github.com/Dictionarry-Hub/profilarr/archive/refs/tags/v1.1.3.tar.gz"
    sha256 = "d1d3da918836c70f431c313554fd24f430bec45938346c3776ce978c2fe05d25"
    autoupdate.strategy = "latest_github_tag"

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    backend.port = 5000

    [resources.nodejs]
    version = "18"

    [resources.apt]
    packages = ""